.audacity*
.cache*
.cargo*
.config*
.dbus*
.dotnet*
.gconf*
.gem*
.gnupg*
.kde*
.kube*
.local*
.mozilla*
.node*
.npm*
.nuget*
.nv*
.omni*
.phoron*
.pki*
.red*
.rust*
.ssh*
.steam*
.temp*
.vim*
.vscode*
.face*
.Xauthority
.bash_history
.bash_logout
.directory
.gtkrc*
.nvidia*
.pinerc
.pulse*
.steam*
.sudo*
.viminfo
Applications*
Desktop*
Documents*
Downloads*
Music*
Pictures*
Public*
go*
mail*
